*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Roboto Condensed", sans-serif;
}

/* Header */
.header, .header_wapper{
    background-position: 50% 0;
    background-size: cover;
    transition: background-color .3s,opacity .3s;
    position: relative;
    width: 100%;
    z-index: 30;
}
/* header top */
.header_top{
    align-items: center;
    display: flex;
    background-color: #ffffff!important;
    position: relative;
    z-index: 11;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ececec;
    width: 100%;
    margin: 0 150px;
    min-height: 35px;
}
.flex_top{
    margin-right: auto;
    max-height: 100%;
    max-width: 1140px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: row;
}
.nav>li{
    list-style: none;
    margin-right: 1.3em;
}
.nav>li{
    position: relative;
}
.nav>li+li>a::after{
    border-left: 1px solid rgba(0,0,0,.1);
    content: "";
    height: 15px;
    left: -0.8em;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    width: 1px;
}
.nav>li>a{
    text-transform: none;
    vertical-align: top;
    font-size: 14px;
    color: #232323;
    letter-spacing: 0;
    font-weight: 520;
    text-decoration: none;
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
.nav>li>a>i{
    transition: color .3s;
    vertical-align: middle;
    padding-right: 5px;
}

/* header mid */
.header_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    margin: 0 140px;
    min-height: 85px;
    padding: 0 10px;
}
.logo img{
    max-height: 85px;
    padding: 19px 0;
    width: auto;
    
}
.search_sp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.search_form_wapper{
    padding-top: 10px;
}
.flex_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.relative{
    position: relative!important;
}
.search_sp form{
    margin-bottom: 0;
}
.search_form{
    position: relative;
}

.search_sp .search_form .search_categories{
    font-size: 14px;
    height: 40px;
    padding-right: 10px;
}
.mb-0{
        margin-bottom: 0!important;
}
.option_search >select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image:url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-position: right .45em top 50%;
    background-repeat: no-repeat;
    background-size: auto 16px;
    border-radius: 0;
    display: block;
    box-shadow: inset 0 -1.4em 1em 0 rgba(0,0,0,.02);
}
.search_categories,
input[type=search], select{
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #333;
    max-width: 100%;
    padding: 0 .75em;
    vertical-align: middle;
    text-transform: none;
    font: inherit;
    
}
.flex_hotline{
    display: flex;
    flex-direction: row;
    align-items: center;
}
select option{
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    max-width: 100%;
}
input[type=search]:focus, 
select:focus{
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    color: #333;
    opacity: 1!important;
    outline: 0;
    width: auto;
}
.input_search{
    -ms-flex-negative: 1;
    -ms-flex-preferred-size: auto!important;
    flex: 1;
    max-height: 100%;
}
.input_search input{
    font-size: 14px;
    height: 40px;
    box-shadow: None;
    border-left: none;
    width: 400px;
}
input[type=search]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-width: 100%;

}

.icon_search{
   max-height: 100%;
}
.icon_search .btn_search {
    font-size: 14px;
    height: 40px;
    width: 70px;
    background: #d60009;
    margin: 0;
    border: none;
}

.icon_search .btn_search:hover{
    background: #b0050d;
}

.flex_hotline{
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
.flex_hotline .icon, .hotline_number{
    padding-top: 10px;
}
.flex_hotline .hotline_number{
    margin-left: 15px;
    display: block;
}
.flex_hotline .hotline_number .cart_text{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.shopping{
    max-height: 100%;
}
.shopping .flex_shopping{
    padding: 10px 0;
}
.shopping .flex_shopping > a{
    text-decoration: none;
}
.shopping .flex_shopping > a > i{
    color: red;
}

/* header bottom */

.flex_bottom{
    background-color: #232323;
    height: 55px;
    z-index: 9;
}

.flex_container{
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 140px;
    padding: 0 10px;
    height: 100%;
    width: 100%;

}

.menu_left{
    position: absolute;
    margin-left: 0;
    width: auto;
    margin-top: -55px;
}
.menu_left .mega_menu_item {
    position: absolute;
    margin-left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.flex_menu_hiden{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    width: 260px;
    background-color: #484848;
}
.flex_menu_hiden .menu_title{
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
.flex_menu_hiden i{
    padding: 10px;
    font-size: 15px;
    color: #fff;

}

.mega_menu{
    display: block;
    width:100%;
    background-color: #fff;
    border: solid 1px #ddd;
    border-top: none;
}
.mega_menu > li{
    position: relative;
    width: 100%;
    white-space: nowrap;
    top: 100%;
    left: 0;
    list-style-type: none;
    border-top: 1px solid #ddd;
    height: 40px;
}
.mega_menu > li > a{
    position: absolute;
    font-size: 16px;
    color: black;
    margin-left: 0!important;
    background: url(/assert/img/dot.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    text-decoration: none;
    padding: 10px 26px;
    width: 100%;
    display: block;
}

.op_sub_menu::after, .mega_menu .op_sub-menu::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #5f5a5a;
}
.mega_menu > li > .op_sub-menu::after, .mega_menu >.menu-item-10 > .op_sub_menu::after{
    border-left-color: rgba(255,255,255,.5);
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-left-color: #dfeeff;
    border-left-color: rgba(51,47,47,.5);
}
.mega_menu  li:hover .sub_menu{
    display: block;
}
.mega_menu li a:hover {
    color: #d60009;
    background-color: #f5f5f5;
}

.sub_menu{
    position: absolute;
    background-color: #f7f7f7;
    min-width: 225px;
    display: none;
    left: 100%;
    top:0;
    z-index: 99;
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
}

.sub_menu > li {
    position: relative;
    list-style-type: none;
    height: 35px;
}
.sub_menu > li > a{
    position: absolute;
    font-size: 14px;
    color: black;
    margin-left: 0!important;
    background: url(/assert/img/dot.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    text-decoration: none;
    padding: 10px 26px;
    width: 100%;
    line-height: 1.6;
}

/* menu center */
.menu_center{
    margin-left: 260px;
    position: absolute;
}
.nav_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.menu_center ul li{
    list-style-type: none;
    width: auto;
    height: 36px;
    padding: 7px 20px;
}

.menu_center ul li >a{ 
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
}
/* active */
/* .menu_center ul li.active{
    background-color: #d60009;
} */
.menu_center ul li:hover{
    background-color: #d60009; 
    transition-duration: .2s;   
}



